.tabs_swiper {
		view{
			box-sizing: border-box;
		}
		width: 100%;
		height: 100vh;
		color: #333;
		.swiper_tab {
			width: 100%;
			position: relative;
			.swiper_scroll{
				display: flex;
				height: auto;
				.tab{
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					transition-property: background-color, color, font-weight;
				}
				.tab_actived{
					position: absolute;
					.actived{
						position: absolute;
						bottom: 0;
						left: 50%;
						border-radius: 10rpx;
						transform: translateX(-50%);
						
					}
				}
			}
		}
		.swiper_view{
			height: 100%;
			position: relative;
			.swiper {
				width: 100%;
				height: 100%;
			}
			.swiper_mask{
				width: 100%;
				height: 100%;
				position: absolute;
				opacity: 0;
				top: 0;left: 0;
				right: 0;bottom: 0;
				z-index: 1;
			}
		}
	}